# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\markf\OneDrive\Documenten\School\Afstuderen\UMCG_Thesis\Working_Code\Gridsearch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
